.container-login {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 600;
}

.boder-err{
  border-color: red;
}

.text-err {
  color: red;
  font-style: italic;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-close {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.btn-close:hover {
  background-color: tomato;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}